// Styling for the join us section
section#join {
  background-color: $gray-900;
  background-image: url('../img/map-image.png');
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
}
